{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>ABOUT</h1>
    </div>
    
    </div class="col-4">
        <img src="assets/img/wolf_wallpaper_351_elegant_hq_picture_backgrounds.jpg" class="img-thumbnail"></img>
    </div>
</div>

{{> footer }}