    {{> head }}


    {{> navbar }}

    <div class="card">
        <div class="card-body bg-light">
            <h1>PAGINA WEB</h1>

            <p>{{ capitalizar nombre}}</p>
            <p></p>
        </div>
    </div>

  {{> footer }}